deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  storage:
    type: s3
    bucketNames:
      chunks: parimal-s3-53
      ruler: parimal-s3-53
      admin: parimal-s3-53
    s3:
      region: us-east-1
      s3forcepathstyle: false

  schemaConfig:
    configs:
      - from: 2024-01-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

singleBinary:
  replicas: 1

# Disable scalable mode
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

# Disable caches & gateway (LAB MODE)
chunksCache:
  enabled: false
resultsCache:
  enabled: false
gateway:
  enabled: false

